*{
    margin: 100;
    padding: 100;
}

header {
    h1 {
        color: white;
    }
    padding: 2rem;
    text-align: center;
    background-color: rgb(25, 25, 138);
}
#Sobre {
    background-color: beige;
}

#centralizada {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

img {
    width: 302px;
}

ul{
    padding: 1rem;
}
div {
  width: 300px;
  border:1px ;
  padding: 1px;
  margin: 20px;
}
footer {
    text-align: center;
    color: white;
    background-color: rgb(25, 25, 138);
}